.col-episode {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.video {
  background-image: url("../image/episode2.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  border-radius: 10px;
  position: relative;
}

.infos {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.074);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 5px;
  position: absolute;
  color: #FCF4F0;
}

.title-video {
  bottom: 3vh;
  padding: 2vh 2vw;
}

.duree-video {
  top: 3vh;
  right: 3vh;
  padding: 1vh 1vw;
}

.duree-video p {
  color: #FCF4F0;
}

.controllers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.circle {
  width: 80px;
  height: 80px;
  background-color: #FF3737;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 80vw;
  height: 450px;
  position: absolute;
  top: 0px; /* Hauteur de la div .video */
  z-index: 11;
}
