header {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
  gap: 3vw;
}


.burger-menu {
  display: none;
}

.menu {
  list-style: none;
  display: flex;
  gap: 3vw;
}

.menu li {
  color: #2D2D2D;
}

.menu li.active {
  color: #FF3737;
}

.menu li:hover {
  color: #ae1b1b;
}
/* Footer */
footer {
  margin-top: 64px;
  display: flex;
  justify-content: space-around;
  background-color: #2D2D2D;
  align-items: center;
  height: 125px;
}
footer p {
  color: #FFF;
}

.grid {
  padding: 0 10vw;
}

body {
  background-color: #FCF4F0;
  font-family: Helvetica, sans-serif;
}

.red {
  color: #FF3737;
}

.snell {
  font-family: "Snell Roundhand";
  letter-spacing: 13px;
}

h1 {
  text-transform: uppercase;
  color: #2D2D2D;
  font-size: 72px;
  font-weight: 700;
}

h2 {
  color: #2D2D2D;
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 28px;
}

p {
  color: #8F8F8F;
  line-height: 125%;
  font-size: 18px;
}

.top-a-propos {
  margin-top: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-a-propos p {
  margin-bottom: 84px;
}

.our-goal {
  width: 40vw;
}

.button {
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  background-color: #FF3737;
  padding: 25px 45px;
  text-decoration: none;
}

.button:hover {
  background-color: #ae1b1b;
}


.our-team {
  margin-top: 128px;
}

.our-team h2 {
  text-align: center;
}

.box-profil {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

.profil-img {
  width: 110px;
  height: 110px;
  border-radius: 100%;
}

.profil .name {
  margin-top: 16px;
  margin-bottom: 32px;
  color: #2D2D2D;
  font-size: 18px;
  text-align: center;
}

@media (min-width: 0px) { }
@media (min-width: 320px) and (max-width: 575px) {
  .burger-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .burger {
    width: 30px;
    height: 2px;
    background-color: #2D2D2D;
    position: relative;
  }

  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #2D2D2D;
  }

  .burger::before {
    top: -8px;
  }

  .burger::after {
    top: 8px;
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FF3737;
  }
  .menu{
    flex-direction: column;
  }
.menu li{
  color: #FFF;
}




  h1 {
    font-size: 58px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .top-a-propos {
    margin-top: 22px;
    flex-direction: column;
  }
  .top-a-propos h2{
    margin-top: 48px;
  }
  .top-a-propos p {
    margin-bottom: 84px;
  }

  .our-goal {
    width: 90vw;
  }

  .button {
    width: 90vw;
    font-size: 14px;
  }

  .our-team {
    margin-top: 128px;
  }

  .box-profil {
    margin-top: 64px;
  }

  .profil {
    width: 30vw;
  }

  .profil-img {
    width: 100px;
    height: 100px;
  }

  .profil .name {
    margin-top: 16px;
    margin-bottom: 32px;
  }
 }
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }



/* ----------------------------------------- */
/* -------------- PAGE VIDEO --------------- */
/* ----------------------------------------- */
.grid-2 {
  padding: 0 20vw;
}
.episode{
  margin-top: 64px;
}
.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: #FFFF;
  border-radius: 8px;
  color: #2D2D2D;
  width: 100%;
  padding: 20px;
  margin: 10px auto;
}

.card-red{
  background-color: #FF3737;
  color: #FCF4F0;
}
.card-red p{
  color: #FCF4F0;
}

.card-img{
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 5px;
}

.card-img img{
  height: 100%;
  width: auto;
}

.col{
  flex-grow: 1;
}

.icon-play{
  width: 50px;
  height: auto;
  margin-right: 30px;
}
