a {
  text-decoration: none;
}

header {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
  gap: 3vw;
}

.header-logo {
  width: 45px;
  height: 86px;
}

.burger-menu {
  display: none;
}

.menu {
  list-style: none;
  display: flex;
  gap: 3vw;
}

.menu li .menu-link {
  color: #2D2D2D;

}

.menu li .active {
  color: #FF3737;
  font-weight: 700;
}

.menu li .menu-link:hover {
  color: #ae1b1b;
}

/* Footer */
footer {
  margin-top: 64px;
  display: flex;
  justify-content: space-around;
  background-color: #2D2D2D;
  align-items: center;
  height: 125px;
}

footer p {
  color: #FFF;
}

.grid {
  padding: 0 10vw;
}

body {
  background-color: #FCF4F0;
  font-family: Helvetica, sans-serif;
}

.red {
  color: #FF3737;
}

.snell {
  font-family: "Snell Roundhand";
  letter-spacing: 13px;
}

h1 {
  text-transform: uppercase;
  color: #2D2D2D;
  font-size: 72px;
  font-weight: 700;
}

h2 {
  color: #2D2D2D;
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 28px;
}

p {
  color: #8F8F8F;
  line-height: 125%;
  font-size: 18px;
}

.top-a-propos {
  margin-top: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-a-propos p {
  margin-bottom: 34px;
}

.our-goal {
  width: 40vw;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  background-color: #FF3737;
  padding: 25px 45px;
  text-decoration: none;
  width: 20vw;
}

.button:hover {
  background-color: #ae1b1b;
}


.our-team {
  margin-top: 128px;
}

.our-team h2 {
  text-align: center;
}

.box-profil {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

.profil-img {
  width: 110px;
  height: 110px;
  border-radius: 100%;
}

.profil .name {
  margin-top: 16px;
  margin-bottom: 32px;
  color: #2D2D2D;
  font-size: 18px;
  text-align: center;
}

/* ----------------------------------------- */
/* -------------- PAGE VIDEO --------------- */
/* ----------------------------------------- */
.grid-2 {
  padding: 0 20vw;
}

.episode {
  margin-top: 64px;
}

.new {
  margin-top: 64px;
}

form {
  position: relative;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  background: #FEF9F6;
  border-radius: 5px;
}

input,
button {
  border: 0;
  color: #2D2D2D;
  font-size: 18px;
}

input[type="search"] {
  outline: 0;
  width: 100%;
  background: none;
  padding-left: 20px;
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  position: relative;
}

button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  background: none;
}

input:not(:placeholder-shown) {

  +button {
    display: block;
  }
}

.search-icon {
  fill: #FF3737;
  width: 30px;
  margin-left: 20px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

.duration {
  margin-top: 8px;
  font-size: 18px;
}

.card {
  background-color: #FEF9F6;
  border-radius: 8px;
  color: #2D2D2D;
  width: 100%;
  margin: 30px auto;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-red {
  background-color: #FF3737;
  color: #FCF4F0;
}

.card-red .card-img {
  width: 140px;
  height: 140px;
}

.card-red p {
  color: #FCF4F0;
}

.card-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 20px;
}

.card-img img {
  height: 100%;
  width: auto;
}

.col {
  flex-grow: 1;
}

.icon-play {
  width: 30px;
  height: auto;
  margin-right: 30px;
  cursor: pointer;
}

.icon-play path {
  fill: #FF3737;
}

.icon-play path:hover {
  fill: #ae1b1b;
}

.play-one path {
  fill: #FFF;
}

.play-one path:hover {
  fill: #f3f3f3;
}

@media (min-width: 0px) and (max-width: 319px) {
  header {
    height: 100px;
  }

  .header-logo {
    width: 38px;
    height: 72px;
  }

  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .menu-btn .bar {
    width: 30px;
    height: 4px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: #2D2D2D;
    transition: all 0.3s ease-in-out;
  }

  .menu-btn.active .bar {
    background-color: white;
  }

  .menu-btn .bar:nth-of-type(2) {
    top: calc(50% - 9px);
  }

  .menu-btn .bar:nth-of-type(3) {
    top: calc(50% + 9px);

  }

  .menu-btn.active .bar:nth-of-type(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .menu-btn.active .bar:nth-of-type(2) {
    display: none;
  }

  .menu-btn.active .bar:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vw;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background-color: #FF3737;
    transition: transform 0.4s ease;
  }

  .menu.active {
    z-index: 1;
    transform: translateX(-100%);
    /* Faites glisser le menu dans la vue */
  }

  .menu li a {
    font-size: 20px;
    margin-bottom: 32px;
    color: #FFF;
  }


  /* Episode */
  .grid-2 {
    padding: 0 5vw;
  }

  .episode {
    margin-top: 32px;
  }

  .new {
    margin-top: 32px;
  }

  form {
    height: 60px;
  }

  input,
  button {
    font-size: 16px;
  }

  .search-icon {
    width: 20px;
  }

  h3 {
    font-size: 15px;
    padding-right: 5px;
  }

  .duration {
    margin-top: 4px;
    font-size: 12px;
  }

  .card {
    margin: 20px auto;
  }

  .card-content {
    padding: 10px;
  }

  .card-red .card-img {
    width: 80px;
    height: 80px;
  }

  .card-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }


  .icon-play {
    width: 20px;
    margin-right: 20px;
  }
  /* Footer */
  footer {
    flex-direction: column;
    height: 250px;
  }
  .footer-logo{
    width: 45px;
  }
  footer p {
    font-size: 16px;
    padding: 0px 10px;
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  header {
    height: 100px;
  }

  .header-logo {
    width: 38px;
    height: 72px;
  }

  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .menu-btn .bar {

    width: 30px;
    height: 4px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: #2D2D2D;
    transition: all 0.3s ease-in-out;
  }

  .menu-btn.active .bar {
    background-color: white;
  }

  .menu-btn .bar:nth-of-type(2) {
    top: calc(50% - 9px);
  }

  .menu-btn .bar:nth-of-type(3) {
    top: calc(50% + 9px);

  }

  .menu-btn.active .bar:nth-of-type(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .menu-btn.active .bar:nth-of-type(2) {
    display: none;
  }

  .menu-btn.active .bar:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Pour afficher les éléments verticalement */
    gap: 3vw;
    position: fixed;
    /* Pour que le menu reste fixe lorsqu'il est ouvert */
    top: 0;
    right: -100%;
    /* Cachez le menu en dehors de l'écran */
    width: 100vw;
    height: 100vh;
    background-color: #FF3737;
    transition: transform 0.4s ease;
    /* Ajoute une transition à la propriété transform */
  }

  .menu.active {
    z-index: 1;
    transform: translateX(-100%);
    /* Faites glisser le menu dans la vue */
  }

  .menu li a {
    font-size: 20px;
    margin-bottom: 32px;
    color: #FFF;
  }

  /* Main */
  h1 {
    font-size: 58px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .top-a-propos {
    margin-top: 18px;
    flex-direction: column;
  }

  .top-a-propos h2 {
    margin-top: 68px;
  }

  .top-a-propos p {
    margin-bottom: 34px;
  }

  .our-goal {
    width: 90vw;
  }

  .button {
    padding: 25px 0;
    width: 90vw;
    font-size: 14px;
  }

  .our-team {
    margin-top: 128px;
  }

  .box-profil {
    margin-top: 64px;
  }

  .profil {
    width: 30vw;
  }

  .profil-img {
    width: 100px;
    height: 100px;
  }

  .profil .name {
    margin-top: 16px;
    margin-bottom: 32px;
  }


  /* Episode */
  .grid-2 {
    padding: 0 5vw;
  }

  .episode {
    margin-top: 32px;
  }

  .new {
    margin-top: 32px;
  }

  form {
    height: 60px;
  }

  input,
  button {
    font-size: 16px;
  }

  .search-icon {
    width: 20px;
  }

  h3 {
    font-size: 15px;
    padding-right: 5px;
  }

  .duration {
    margin-top: 4px;
    font-size: 12px;
  }

  .card {
    margin: 20px auto;
  }

  .card-content {
    padding: 10px;
  }

  .card-red .card-img {
    width: 80px;
    height: 80px;
  }

  .card-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }


  .icon-play {
    width: 20px;
    margin-right: 20px;
  }

   /* Footer */
   footer {
    flex-direction: column;
    height: 250px;
  }
  .footer-logo{
    width: 45px;
  }
  footer p {
    font-size: 16px;
    padding: 0px 10px;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 991px) {


  .snell {
    letter-spacing: 13px;
  }

  h1 {
    font-size: 62px;
    margin-bottom: 70px;
  }

  h2 {
    margin-bottom: 16px;
    font-size: 22px;
  }

  p {
    font-size: 17px;
  }

  .top-a-propos {
    flex-direction: column;
    margin-top: 34px;
  }

  .top-a-propos p {
    margin-bottom: 54px;
  }

  .our-goal {
    width: 80vw;
  }

  .button {
    font-size: 17px;
    padding: 25px 0px;
    width: 80vw;
  }

  .our-team {
    margin-top: 94px;
  }

  .box-profil {
    margin-top: 64px;
  }

  .profil {
    width: 22vw;
    padding: 0 2vw;
  }

  .profil-img {
    width: 110px;
    height: 110px;
  }

  .profil .name {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 18px;
  }

  /* ----------------------------------------- */
  /* -------------- PAGE VIDEO --------------- */
  /* ----------------------------------------- */
  .grid-2 {
    padding: 0 10vw;
  }

  .episode {
    margin-top: 48px;
  }

  .new {
    margin-top: 48px;
  }

  form {
    height: 75px;
  }

  input,
  button {
    font-size: 18px;
  }

  button {
    width: 40px;
  }


  .search-icon {
    width: 25px;
    margin-left: 20px;
  }

  h3 {
    font-size: 20px;
    padding-right: 10px;
  }

  .duration {
    font-size: 16px;
  }

  .card {
    margin: 20px auto;
  }

  .card-content {
    padding: 20px;
  }

  .card-red .card-img {
    width: 120px;
    height: 120px;
  }

  .card-img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }

  .icon-play {
    width: 25px;
    margin-right: 20px;
  }

  /* Footer */
  footer {
    flex-direction: column;
    height: 280px;
  }

  footer p {
    text-align: center;
    padding: 0 20px;
  }

}


@media (min-width: 992px) and (max-width: 1199px) {

  /* ----------------------------------------- */
  /* -------------- PAGE VIDEO --------------- */
  /* ----------------------------------------- */
  .grid-2 {
    padding: 0 10vw;
  }

  .episode {
    margin-top: 64px;
  }

  .new {
    margin-top: 64px;
  }

  form {
    height: 75px;
  }

  input,
  button {
    font-size: 18px;
  }


  button {
    width: 40px;
  }

  .search-icon {
    width: 30px;
    margin-left: 20px;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
  }

  .duration {
    margin-top: 8px;
    font-size: 18px;
  }

  .card {
    border-radius: 8px;
    margin: 30px auto;
  }

  .card-content {
    padding: 20px;
  }

  .card-red .card-img {
    width: 140px;
    height: 140px;
  }

  .card-img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  .icon-play {
    width: 30px;
    margin-right: 30px;
  }

}
